{% extends 'shared/base.html' %}

{% block content %}

<h1>{{ bouquet.name }}</h1>

<p><strong>Occasion</strong>: {{ bouquet.occasion }}</p>

<h2>Flowers</h2>
<ul>
    {% for bouquet_flower in bouquet_flowers %}
        <li> <strong>{{bouquet_flower.flower.name}}</strong> Quantity: {{bouquet_flower.quantity}}
         <form action="{% url 'bouquetapp:bouquetflower' bouquet.id bouquet_flower.id %}" method="POST">
         {% csrf_token %}
            <input type="hidden" name="actual_method" value="DELETE"/>
            <input type="submit" value="Remove"/>
         </form>
        </li>
    {% endfor %}
</ul>

<form action="{% url 'bouquetapp:bouquet_edit' bouquet.id%}" method="GET">
    <input type="submit" value="Edit Bouquet"/>
</form>

{% endblock content %}